.missonsHeads {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
  list-style: none;
}

.missionsIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
  list-style: none;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
  list-style: none;
}

.missionList {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.missionList:nth-of-type() {
  background-color: rgb(202, 202, 202);
}

.missionListElements {
  list-style: none;
  border-right: solid 1px rgb(0, 0, 0);
  border-left: solid 1px rgb(0, 0, 0);
  border-top: solid 1px rgb(0, 0, 0);
  border-bottom: solid 1px rgb(0, 0, 0);
  align-items: center;
  height: 270px;
  text-align: center;
  align-content: center;
}

h3 {
  width: 110px;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h4 {
  width: 110px;
  margin: 0;
  padding: 0;
  margin: 110px 10px 0 10px;
}

.active {
  background-color: rgb(26, 98, 150);
  color: white;
}

.notactive {
  background-color: grey;
  color: white;
  border-radius: 3px;
}

.leave {
  margin: 113px 10px 0 10px;
color: red;
background-color: white;
border-color: red;
border-radius: 3px;
}

.join {
  margin: 113px 10px 0 10px;
}

.missionStatus {
  width: 90px;
}

.missionMission { 
  width: 110px;
}

.missionDescription {
  width: 297px;
  padding-right: 4rem;
}

.missonsHeads {
  border: solid 1px rgb(0, 0, 0);
  margin:0;
  padding:0;
}
.missonsHeads li {
  border-right: solid 1.5px rgb(0, 0, 0);
  margin:0;
  padding:0;
}